@inherits LayoutComponentBase

<div class="sidenavbar">
    <NavMenu />
</div>

<div class="main">
    <div class="navbar px-4 auth">
        <LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
