<h1>Placeholder component so the namespace WebUI.Shared keeps existing in the _Imports.razor and we have a Component scss file in the mean time</h1>
<p>Feel free to delete this copmponent at your earliest convenience. After the upgrade to .NET 5</p>

@code {

}
