.cosplay-item-show-info {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cosplay-item-show-edit-btn {
  background: linear-gradient(135deg, rgba(255, 57, 240, 1) 10%, rgba(82, 196, 255, 1) 100%);

  &:hover {
    filter: brightness(50%);
  }
}

.cosplay-item-show-image-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}

.cosplay-item-show {
  display: flex;
  flex-direction: row;
  margin: 3rem 6.5rem;
}
