@page "/cosplay"
@inject ICosplayService CosplayService
@inject NavigationManager NavigationManager
@using CosNet.Shared.DTOs.Cosplay
@attribute [Authorize]

<div class="cosplay-list-container">
    <div class="cosplay-list-top-row">
        <h1 class="title">My Cosplays</h1>
        <span class="flex-spacer"></span>
        <a class="cosplay-list-btn btn btn-primary rounded-pill" href="cosplay/create">Create</a>
    </div>

    @if (cosplays == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @foreach (var cosplay in cosplays)
        {
            <div class="cosplay-list-item" @onclick="() => ClickedToId(cosplay.CosplayId)">
                <img class="cosplay-list-item-image" src="https://placekitten.com/300/300" alt="Picture of the cosplay" />
                <div class="cosplay-list-item-text">
                    <p>Character: @cosplay.Name</p>
                    <p>Series: @cosplay.Serie</p>
                    <p>Status: @cosplay.Status</p>
                </div>
                <span class="flex-spacer"></span>
                <div class="cosplay-list-item-date">
                    @cosplay.DueDate
                </div>
                <div class="cosplay-list-item-icon">
                    @switch (cosplay.Status)
                    {
                        case "In Progress":
                            <img class="cosplay-list-icon" src="assets/icons/statusses/shared/inProgress.svg" alt="In Progress" />
                            break;
                        case "On Hold":
                            <img class="cosplay-list-icon" src="assets/icons/statusses/cosplay/onHold.svg" alt="On Hold" />
                            break;
                        case "Planned":
                            <img class="cosplay-list-icon" src="assets/icons/statusses/cosplay/planned.svg" alt="Planned" />
                            break;
                        case "Finished":
                            <img class="cosplay-list-icon" src="assets/icons/statusses/shared/completed.svg" alt="Finished" />
                            break;
                        case "Cancelled":
                            <img class="cosplay-list-icon" src="assets/icons/statusses/cosplay/cancelled.svg" alt="Cancelled" />
                            break;
                    }
                </div>
            </div>
        }
    }
</div>

@code {
    private IEnumerable<CosplayDTO> cosplays;

                        protected override async Task OnInitializedAsync()
                        {
                            cosplays = await CosplayService.GetCosplaysAsync();
                        }

                        public void ClickedToId(Guid cosplayId)
                        {
                            NavigationManager.NavigateTo($"cosplay/{cosplayId.ToString()}");
                        }
                    }
