@page "/cosplay/{CosplayId:guid}"
@inject ICosplayService CosplayService
@inject NavigationManager NavigationManager
@using CosNet.Shared.DTOs.Cosplay
@attribute [Authorize]

@if (cosplay == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="cosplay-show-item">
        <img class="cosplay-list-item-image" src="https://placekitten.com/300/300" alt="Picture of the cosplay" />
        <div class="cosplay-list-item-text">
            <p>Character: @cosplay.Name</p>
            <p>Series: @cosplay.Serie</p>
            <p>Status: @cosplay.Status</p>
        </div>
        <span class="flex-spacer"></span>
        <div class="cosplay-list-item-date">
            @cosplay.DueDate
        </div>
        <a class="cosplay-show-edit-btn btn btn-primary rounded-pill" href="cosplay/@cosplay.CosplayId/edit">Edit</a>
    </div>

    <div class="cosplay-show-container">
        <div class="cosplay-show-card" @onclick="() => ClickedToItem()">Items</div>
        <div class="cosplay-show-card">Tasks</div>
        <div class="cosplay-show-card">Notes</div>
        <div class="cosplay-show-card">Statistics</div>
        <div class="cosplay-show-card">Reference Pics</div>
        <div class="cosplay-show-card">Process Pics</div>
        <div class="cosplay-show-card">After Pics</div>
        <div class="cosplay-show-card">???</div>
    </div>
}

@code {
    private CosplayDTO cosplay;

    [Parameter]
    public Guid CosplayId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        cosplay = await CosplayService.GetCosplayAsync(CosplayId);
    }

    public void ClickedToItem()
    {
        NavigationManager.NavigateTo($"cosplay/{CosplayId.ToString()}/cosplayitem");
    }
}
