@page "/cosplay/{CosplayId:guid}"
@inject ICosplayService CosplayService
@inject NavigationManager NavigationManager
@using CosNet.Shared.DTOs.Cosplay
@attribute [Authorize]

@if (cosplay == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="cosplay-show-item">
        <img class="cosplay-list-item-image" src="https://placekitten.com/300/300" alt="Picture of the cosplay" />
        <div class="cosplay-list-item-text">
            <p>Character: @cosplay.Name</p>
            <p>Series: @cosplay.Serie</p>
            <p>Status: @cosplay.Status</p>
        </div>
        <span class="flex-spacer"></span>
        <div class="cosplay-list-item-date">
            @cosplay.DueDate
        </div>
        <a class="cosplay-show-edit-btn" href="cosplay/@cosplay.CosplayId/edit">
            <img class="cosplay-show-edit-btn-icon" src="assets/icons/edit.svg" alt="Edit" />
        </a>
    </div>

    <div class="cosplay-show-container">
        <div class="cosplay-show-card" @onclick="() => ClickedToItem()">
            <img class="cosplay-show-icon" src="assets/icons/cosplay_menu_items/items.svg" alt="Items" />
            Items
        </div>
        <div class="cosplay-show-card" @onclick="() => ClickedToUnderConstruction()">
            <img class="cosplay-show-icon" src="assets/icons/cosplay_menu_items/toDos.svg" alt="Tasks" />
            Tasks
        </div>
        <div class="cosplay-show-card" @onclick="() => ClickedToNote()">
            <img class="cosplay-show-icon" src="assets/icons/cosplay_menu_items/notes.svg" alt="Notes" />
            Notes
        </div>
        <div class="cosplay-show-card" @onclick="() => ClickedToUnderConstruction()">
            <img class="cosplay-show-icon" src="assets/icons/cosplay_menu_items/statistics.svg" alt="Statistics" />
            Statistics
        </div>
        <div class="cosplay-show-card" @onclick="() => ClickedToUnderConstruction()">
            <img class="cosplay-show-icon" src="assets/icons/cosplay_menu_items/referencePics.svg" alt="Reference Pics" />
            Reference Pics
        </div>
        <div class="cosplay-show-card" @onclick="() => ClickedToUnderConstruction()">
            <img class="cosplay-show-icon" src="assets/icons/cosplay_menu_items/processPics.svg" alt="Process Pics" />
            Process Pics
        </div>
        <div class="cosplay-show-card" @onclick="() => ClickedToUnderConstruction()">
            <img class="cosplay-show-icon" src="assets/icons/cosplay_menu_items/afterPics.svg" alt="After Pics" />
            After Pics
        </div>
        <div class="cosplay-show-card" @onclick="() => ClickedToUnderConstruction()">
            ???
        </div>
    </div>
}

@code {
    private CosplayDTO cosplay;

    [Parameter]
    public Guid CosplayId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        cosplay = await CosplayService.GetCosplayAsync(CosplayId);
    }

    public void ClickedToItem()
    {
        NavigationManager.NavigateTo($"cosplay/{CosplayId.ToString()}/cosplayitem");
    }

    public void ClickedToNote()
    {
        NavigationManager.NavigateTo($"cosplay/{CosplayId.ToString()}/cosplaynote");
    }

    public void ClickedToUnderConstruction()
    {
        NavigationManager.NavigateTo($"underconstruction");
    }
}
