@page "/cosplay/{CosplayId:guid}"
@inject HttpClient Http

@if (cosplay == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-header-show-cosplay table-dark table-hover col-md-4">
        <tbody>
            <tr>
                <td>Pic</td>
                <td>Character: @cosplay.Name <br /> Series: @cosplay.Serie <br /> Status: @cosplay.Status</td>
                <td>@cosplay.DueDate</td>
                <td>Icon</td>
                <td><a class="btn btn-primary rounded-pill" href="cosplay/@cosplay.CosplayId/edit">Edit</a></td>
            </tr>
        </tbody>
    </table>
    <div class="container">
        <div class="row">
            <div class="col">Items</div>
            <div class="col">Tasks</div>
            <div class="col">Notes</div>
            <div class="col">Statistics</div>
        </div>
        <div class="row">
            <div class="col">Reference Pics</div>
            <div class="col">Process Pics</div>
            <div class="col">After Pics</div>
            <div class="col">???</div>
        </div>
    </div>
}

@code {
    private CosplayDTO cosplay;

    [Parameter]
    public Guid CosplayId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        cosplay = await Http.GetFromJsonAsync<CosplayDTO>($"/cosplay/{CosplayId}");
    }
}
