@inherits LayoutComponentBase

<div class="app-container">

    <div class="app-sidenavbar">
        <NavMenu />
    </div>

    <div class="app-navbar">
        <h1 class="app-logo title"><a href="">CosNet</a></h1>
        <span class="flex-spacer desktop-only"></span>
        <div class="desktop-only">
            <LoginDisplay />
        </div>
    </div>

    <div class="app-content">
        @Body
    </div>

</div>

