@page "/cosplay/{CosplayId:guid}/cosplayitem/{CosplayItemId:guid}/edit"
@inject ICosplayItemService CosplayItemService
@inject NavigationManager NavigationManager

<div class="cosplay-form-container">

    <h2 class="title cosplay-form-title">Create cosplay</h2>

    <div class="cosplay-form-content">

        <div class="cosplay-form-group">

            <EditForm Model="@cosplayItem" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <p>
                    <label class="form-label" for="name">Name:</label><br />
                    <InputText class="form-input" id="name" placeholder="Item name" @bind-Value="cosplayItem.Name" />
                </p>
                <p>
                    <label class="form-label" for="serie">Description:</label><br />
                    <InputTextArea class="form-input" id="serie" placeholder="Description" @bind-Value="cosplayItem.Description" />
                </p>
                <p>
                    <label class="form-label" for="status">Status:</label><br />
                    <InputText class="form-input" id="status" placeholder="Status" @bind-Value="cosplayItem.Status" />
                </p>
                <p>
                    <label class="form-label" for="madeOrBought">Made?:</label><br />
                    <InputCheckbox class="form-input" id="madeOrBought" @bind-Value="cosplayItem.IsMade" />
                </p>

                @if (cosplayItem.IsMade)
                {
                    <p>
                        <label class="form-label" for="startDate">Start Date:</label><br />
                        <InputDate class="form-input" id="startDate" @bind-Value="cosplayItem.MadeInfo.StartDate" />
                    </p>
                    <p>
                        <label class="form-label" for="endDate">End Date:</label><br />
                        <InputDate class="form-input" id="endDate" @bind-Value="cosplayItem.MadeInfo.EndDate" />
                    </p>
                    <p>
                        <label class="form-label" for="progress">Progress:</label><br />
                        <InputNumber class="form-input" id="progress" @bind-Value="cosplayItem.MadeInfo.Progress" />
                    </p>
                    <p>
                        <label class="form-label" for="workTime">Work Time:</label><br />
                        <InputNumber class="form-input" id="workTime" @bind-Value="cosplayItem.MadeInfo.WorkTime" />h
                    </p>
                }
                else
                {
                    <p>
                        <label class="form-label" for="buyLink">Buy Link:</label><br />
                        <InputText class="form-input" id="buyLink" placeholder="https://cosnet.azurewebsites.net/" @bind-Value="cosplayItem.BoughtInfo.BuyLink" />
                    </p>
                    <p>
                        <label class="form-label" for="price">Price:</label><br />
                        <span class="currencyinput"><InputNumber class="form-input" id="price" @bind-Value="cosplayItem.BoughtInfo.Price" /></span>
                    </p>
                }

                <div class="cosplay-form-group-button-row">
                    <button class="cosplay-form-group-button-save btn btn-primary rounded-pill" type="submit">Save</button>
                    <span class="flex-spacer"></span>
                    <a class="cosplay-form-group-button-cancel btn btn-secondary rounded-pill" href="cosplay">Cancel</a>
                </div>
            </EditForm>
        </div>

        <span class="flex-spacer"></span>

        <div class="cosplay-form-image-group">
            <img class="cosplay-form-image" src="https://placekitten.com/600/600" alt="Picture of the cosplay">
        </div>
    </div>
</div>


@code {
    public CosplayItemForUpdateDTO cosplayItem;

    [Parameter]
    public Guid CosplayId { get; set; }

    [Parameter]
    public Guid CosplayItemId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CosplayItemDTO CosplayItemUpdate = await CosplayItemService.GetCosplayItemAsync(CosplayId, CosplayItemId);
        cosplayItem = (CosplayItemForUpdateDTO)CosplayItemUpdate;
    }

    private async Task HandleValidSubmit()
    {
        await CosplayItemService.UpdateCosplayItemAsync(CosplayId, CosplayItemId, cosplayItem);

        NavigationManager.NavigateTo($"cosplay/{CosplayId}");
    }
}
