.cosplay-list-container {
  margin: 3rem 6.5rem;
}

.cosplay-list-top-row {
  width: 100%;
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.cosplay-list-btn {
  border: none;
  padding: 0.4rem 4rem;
  font-size: 1.1em;
  background: linear-gradient(135deg, rgba(255, 57, 240, 1) 10%, rgba(82, 196, 255, 1) 100%);
}

.cosplay-list-btn:hover {
  filter: brightness(50%);
}

.cosplay-list-item {
  background-color: #808080;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.cosplay-list-item:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.cosplay-list-item-image {
  max-width: 6rem;
  max-height: 6rem;
  height: 100%;
}

.cosplay-list-item-text {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.cosplay-list-item-text p {
  margin: 0;
}

.cosplay-list-item-date,
.cosplay-list-item-icon {
  margin-right: 2rem;
}
