@page "/underconstruction"
<div class="underconstruction-container">
    <h1>We are currently still building this page</h1>
    <p>Thank you for the comprehension. Please come back later</p>
    <img src="assets/images/UnderConstruction.png" alt="under construction picture" />
</div>
